html body{font-family:Lato,sans-serif}
img{max-width:100%;
    vertical-align:top}
.text-red{color:#e30025}

li {
    list-style: none;
}

header{margin-bottom:51px;
    background:#e30025;
    display:flex;
    justify-content:space-between}

.pre-title{
    margin-top:29px;
    color:#353535;
    font-size:20px;
    font-weight:500;
    margin-bottom:0;
    text-transform:uppercase}

 h2{
    text-transform:uppercase;
    color:#353535;
    font-size:40px;
    font-weight:600;
    margin-bottom:64px}
    
    
/*Carta de servicio*/

.container-service{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

}

.card-service{
    background: #E5E5E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

    
    
/*pre - footer*/
.pre-footer{
    text-align:center;
    padding-bottom:30px}

.continue{
    margin: 3em 0em;
    justify-items: center;
}

.confirm-service button{
    background:#e30025;
    border:none;
    color:#fff;
    letter-spacing:.02em;
    font-size:18px;
    line-height:23px;
    font-weight:500;
    padding:10px 25px;
    text-align:center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.boton-continuar {
    background:#e30025;
    border:none;
    border-radius:3px;
    color:#fff;
    letter-spacing:.02em;
    font-size:18px;
    line-height:23px;
    font-weight:500;
    padding:20px;
    text-align:center;
    }

/*footer*/
footer{
    background:#e30025;
    display:flex;
    justify-content:space-between;
    margin-top:20px ;
    padding-top:20px;
    padding-bottom:20px;
    width: 100%;
}

footer .footer-inner p{
    margin-bottom:15px}


@media (max-width:768px)
{   .header{margin-bottom:37px}
    .logo{width:81px}

    .pre-title{margin-top:0;
        font-size:14px}
    

     h2{
        font-size:24px;
        margin-bottom:50px}


    .customer-data{
        margin-top:40px;
        padding:30px 60px;
        max-width:497px;
        padding-left:30px;
        padding-right:30px;
        margin-bottom:40px}
    
    .customer-data h4{
        text-transform:uppercase;
        color:#353535;
        font-size:20px;
        font-weight:600;
        margin-bottom:10px}
    
    .customer-data p
    {font-weight:700}

/*Tarjetas de servicio*/
    
    .item-service{
        list-style:none;
        padding:0;
        margin:0;
        max-width:497px}
    .item-service{
    margin-bottom:50px}
    
    .plus-service li:last-child{margin-bottom:0}
    
     h3{
        font-weight:400;
        font-size:24px;
        line-height:30px;
        color:#232427;
        text-transform:uppercase;
        text-align:center;
        margin-bottom:34px}
                
     .checkbox-form-group{
        margin-right:-15px}
    
    .checkbox-form-group input{
        position:absolute;
        left:-25px;top:0}
    
    .checkbox-form-group label{
        text-transform:none}


    .confirm-service button{
        background:#e30025;
        border:none;
        color:#fff;
        letter-spacing:.02em;
        font-size:18px;
        line-height:23px;
        font-weight:500;
        padding: 20px;
        text-align:center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }
        
/*pre - footer*/
.boton-continuar{
        background:#e30025;
        border:none;
        border-radius:3px;
        color:#fff;
        letter-spacing:.02em;
        font-size:18px;
        line-height:23px;
        font-weight:500;
        margin: 20px;
        padding:25px;
        text-align:center}
    
   
    .pre-footer{
        text-align:center;
        padding-bottom:30px}

    .pre-footer .label-pre-footer{
        margin-top:30px;
        font-size:.9em
    }

/*footer*/
    
    
    footer{
        background:#e30025;
        padding-top:20px;
        padding-bottom:20px
    }
    
    footer .footer-inner{
        display:flex;
        align-items:center;
        justify-content:space-between;
        flex-wrap:wrap}
        
    footer .footer-inner{
        text-align:center;
        justify-content:center
    }
    footer .footer-inner p{
        color:#fff;
        font-size:14px;
        line-height:18px;
        font-weight:400;
        margin:0
    }
    footer .footer-inner p{
        margin-bottom:15px}
    

}
