html body{font-family:Montserrat,sans-serif}
img{max-width:100%;
    vertical-align:top}
.text-red{color:#e30025}

header{margin-bottom:51px;
    background:#e30025;
    display:flex;
    justify-content:space-between}

.row-landing{
    padding:30px 60px;
}

.row-landing .pre-title{
    margin-top:29px;
    color:#353535;
    font-size:20px;
    font-weight:500;
    margin-bottom:0;
    text-transform:uppercase}

.row-landing h2{
    text-transform:uppercase;
    color:#353535;
    font-size:40px;
    font-weight:600;
    margin-bottom:64px}
    
    
/*Carta de servicio*/
.row-landing .item-service li{
    position:relative;
    margin-bottom:44px;
    color:#3c3c3c;
    font-weight:500;
    font-size:15.33px;
    line-height:1em;
    padding:10px 10px 10px 72px;
    margin-left:10px}
    

    
/*pre - footer*/
.pre-footer{
    text-align:center;
    padding-bottom:30px}

.send-form-button{
    background:#e30025;
    border:none;
    border-radius:3px;
    color:#fff;
    letter-spacing:.02em;
    font-size:18px;
    line-height:23px;
    font-weight:500;
    padding:25px;
    text-align:center}

/*footer*/
footer{
    background:#e30025;
    display:flex;
    justify-content:space-between;
    padding-top:20px;
    padding-bottom:20px;
    width: 100%;
}

footer .footer-inner p{
    margin-bottom:15px}


@media (max-width:768px)
{   .header{margin-bottom:37px}
    .logo{width:81px}

    .row-landing{margin-bottom:45px;
        padding:30px}

    .row-landing .pre-title{margin-top:0;
        font-size:14px}
    

    .row-landing h2{
        font-size:24px;
        margin-bottom:50px}


    .customer-data{
        margin-top:40px;
        padding:30px 60px;
        max-width:497px;
        padding-left:30px;
        padding-right:30px;
        margin-bottom:40px}
    
    .customer-data h4{
        text-transform:uppercase;
        color:#353535;
        font-size:20px;
        font-weight:600;
        margin-bottom:10px}
    
    .customer-data p
    {font-weight:700}

/*Tarjetas de servicio*/
    
    .row-landing .item-service{
        list-style:none;
        padding:0;
        margin:0;
        max-width:497px}
    .row-landing .item-service{
    margin-bottom:50px}
    
    .row-landing .item-service li{
        padding-left:51px;
        font-size:10px;
        margin-bottom:10px}
        
    .row-landing .item-service li:last-child{margin-bottom:0}
    
    .row-landing .item-service li{height:50px}
    
    .row-landing  h3{
        font-weight:400;
        font-size:24px;
        line-height:30px;
        color:#232427;
        text-transform:uppercase;
        text-align:center;
        margin-bottom:34px}
                
    .row-landing  .checkbox-form-group{
        margin-right:-15px}
    
    .row-landing  .checkbox-form-group input{
        position:absolute;
        left:-25px;top:0}
    
    .row-landing  .checkbox-form-group label{
        text-transform:none}
        
/*pre - footer*/
    .pre-footer .send-form-button{
        background:#e30025;
        border:none;
        border-radius:3px;
        color:#fff;
        letter-spacing:.02em;
        font-size:18px;
        line-height:23px;
        font-weight:500;
        padding:25px;
        text-align:center}
    
   
    .pre-footer{
        text-align:center;
        padding-bottom:30px}

    .pre-footer .label-pre-footer{
        margin-top:30px;
        font-size:.9em
    }

/*footer*/
    
    
    footer{
        background:#e30025;
        padding-top:20px;
        padding-bottom:20px
    }
    
    footer .footer-inner{
        display:flex;
        align-items:center;
        justify-content:space-between;
        flex-wrap:wrap}
        
    footer .footer-inner{
        text-align:center;
        justify-content:center
    }
    footer .footer-inner p{
        color:#fff;
        font-size:14px;
        line-height:18px;
        font-weight:400;
        margin:0
    }
    footer .footer-inner p{
        margin-bottom:15px}
    

}
